version: '3.5'
services:
  app:
    image: ${DOCKER_REGISTRY}/${FLASK_APP}:${BUILDKITE_COMMIT}
    environment:
      BUILDKITE_API_BASE_URL: ${BUILDKITE_API_BASE_URL}
      BUILDKITE_API_TOKEN: ${BUILDKITE_API_TOKEN}
      BUILDKITE_ORG: ${BUILDKITE_ORG}
      CONBENCH_URL: ${CONBENCH_URL}
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_PORT: ${DB_PORT}
      DB_USERNAME: ${DB_USERNAME}
      FLASK_DEBUG: 0
      GITHUB_API_BASE_URL: ${GITHUB_API_BASE_URL}
      GITHUB_API_TOKEN: ${GITHUB_API_TOKEN}
      GITHUB_REPO: ${GITHUB_REPO}
      GITHUB_REPO_WITH_BENCHMARKABLE_COMMITS: ${GITHUB_REPO_WITH_BENCHMARKABLE_COMMITS}
      GITHUB_SECRET: ${GITHUB_SECRET}
      HOURS_WITH_FAILED_BUILDS: ${HOURS_WITH_FAILED_BUILDS}
      MACHINES_WITH_FAILED_BUILDS: ${MACHINES_WITH_FAILED_BUILDS}
      MAX_COMMITS_TO_FETCH: ${MAX_COMMITS_TO_FETCH}
      PIPY_API_BASE_URL: ${PIPY_API_BASE_URL}
      PIPY_PROJECT: ${PIPY_PROJECT}
      SECRET: ${SECRET}
      SLACK_API_BASE_URL: ${SLACK_API_BASE_URL}
      SLACK_API_TOKEN: ${SLACK_API_TOKEN}
      SLACK_CHANNEL_FOR_BENCHMARK_RESULTS: ${SLACK_CHANNEL_FOR_BENCHMARK_RESULTS}
      SLACK_USER_ID_FOR_WARNINGS: ${SLACK_USER_ID_FOR_WARNINGS}
